.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 400px;
}

body {
    display: flex;
    justify-content: space-between;
    background-color: #b9e3ec;
    position: fixed;
    width: 100vw;
}

.sidebar {
    background-color: white;
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenu {
    width: 79%;
    height: 100vh;
    overflow-y: scroll;
    padding: 6px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;
    height: 60px;
    background-color: white;
}

span {
    font-size: 20px;
}

.list2 {
    position: absolute;
    bottom: 0;
}

ul {
    padding: 13px;
}

ul li {
    list-style: none;
    margin-top: 10px;
    flex-wrap: wrap;
}

ul li a {
    text-decoration: none;
    color: #8f8a8a;
    font-size: 25px;
}


.active {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #c0e2ea;
    border-radius: 15px;
}

.active a {
    color: white;
}



#profile-navbar,
.icon-cloche {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    padding: 10px;
}

.fa-bars {
    color: #1898A8;
    font-size: 20px;
    padding-left: 10px;
    display: none;
}

.sidebar-icon-card {
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-element {
    display: flex;
}

.card-positive {
    background-color: #1898A8;
    width: 250px;
    height: 400px;
    margin-left: 90px;
    margin-top: 10%;
    border-radius: 20px;
}

.card-title {
    margin-top: -5rem;
    text-align: center;
    color: #8f8a8a;
    font-size: 30px;

}


.card-positive-element {
    color: white;
    text-align: center;
    width: 200px;
    margin: auto;
}

.card-positive .card-positive-element #card-positive-icon {
    margin-top: 70px;
    font-size: 30px;
}

.card-positive .card-positive-element h3 {
    margin-top: 20px;
    font-size: 30px;
}

.box {
    padding: 1rem 1rem;
    margin-top: -2rem;
}

svg circle {
    fill: none;
    stroke: white;
    stroke-width: 20px;
    stroke-dasharray: 200;
    transform: translate(10px, 10px);
}

#svg2 {
    transform: rotate(-181deg);
    margin-left: -2rem;
}


svg circle:nth-child(1) {
    stroke: #cccccc84;
    stroke-dasharray: 270;
}


.box svg {
    width: 190px;
    height: 190px;
    margin: auto;
    margin-top: 40px;
}

.box p {
    font-size: 30px;
    margin-top: -7rem;
}

.card-negative {
    background-color: white;
    border: 1px solid #4A96A6;
    width: 250px;
    height: 400px;
    margin-left: 150px;
    margin-top: 10%;
    border-radius: 20px;
}

.card-negative-element {
    text-align: center;
    color: black;
    text-align: center;
    width: 200px;
    margin: auto;
}

#card-negative-icon {
    color: #4A96A6;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background-color: #d2f2f9;
    font-size: 30px;
}

.card-negative .card-negative-element #card-negative-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 80px;
}

.card-negative .card-negative-element h3 {
    font-size: 30px;
    margin-top: 5px;
    color: #8f8a8a;
}


.box1 {
    padding: 1rem 1rem;
    margin-top: -2rem;
}

.box1 #svg1 #circle {
    fill: none;
    stroke: #1898A8;
    stroke-width: 20px;
    stroke-dasharray: 656;
    stroke-dashoffset: 510;
    transform: translate(10px, 10px);

}


#svg1 #circle:nth-child(1) {
    stroke: #cccccc84;
    stroke-dasharray: 270;
}

#svg1 {
    transform: rotate(-211deg);
    margin-left: -2rem;
}

.box1 svg {
    width: 190px;
    height: 190px;
    margin: auto;
    margin-top: 40px;
}

.box1 p {
    font-size: 30px;
    margin-top: -7.5rem;
}


.barJs-title {
    color: #8f8a8a;
    font-size: 30px;
    margin-top: 3rem;
    margin-left: 6rem;
}

.canvas-card {
    width: 45%;
    margin-left: 7rem;
}


@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }

    .active {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .fa-bars {
        display: block;
    }

    .sidebar {
        z-index: 999;
        display: none;
    }

    .sidebar span,
    .logo {
        display: none;
    }
    .list2 {
        padding-bottom: 20px;
    }

    .contenu {
        z-index: -9999;
        width: 100%;
        overflow-x: hidden;
        padding: 0;
    }

    .section-element {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card-positive {
        margin-left: 0;
        margin-top: 30%;
    }

    .card-negative {
        margin-left: 0;
        margin-top: 30%;
    }

    .barJs {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .canvas-card,
    .barJs-title {
        margin-left: 0;
    }

    .canvas-card {
        width: 90%;
    }
}